= react_component('CommentBox',
        data: [\
          {author: "Pete Hunt", text: "This is one comment"}, \
          {author: "You", text: "This is *super* comment"}, \
          {author: "Jordan Walke", text: "This is *another* comment"} \
        ] \
)

